<p id='notice'><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= format_date(@contact.birthday) %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @contact.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @contact.address %>
</p>

<p>
  <strong>Credit Card:</strong>
  <%= (@contact.credit_card).last(4) %>
</p>

<p>
  <strong>Franchise:</strong>
  <%= @contact.franchise %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<%= link_to 'Back', contacts_path %>
